@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");

:root {
  --primary: #b6895b;
  --bg: #010101;
  --w: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--w);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: 0.8s;
}

.navbar .navbar-logo {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--w);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--w);
  display: inline-block;
  margin: 0 16px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  transition: 0.3s;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-extra a {
  color: var(--w);
  margin: 0 0.5rem;
  transition: 0.2s;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
  transition: 0.2s;
}

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 10%;
  display: flex;
  align-items: center;
  width: 40%;
  background-color: var(--w);
  padding-right: 12px;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.2s ease-in;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  width: 100%;
  padding: 1rem 2.3rem 1rem 1rem;
  background: none;
  font-size: 16px;
  font-weight: 700;
}

.navbar .search-form a {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 25%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 55rem;
}

.hero .content h1 {
  font-size: 4.7em;
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.4rem;
  mix-blend-mode: difference;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 2.7rem;
  font-size: 1.4rem;
  color: var(--w);
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.about {
  margin-top: 10rem;
  padding: 4.4rem 5.8rem 4rem;
  border-radius: 50px 50px 0 0;
  background-color: #090909;
}

.about h2 {
  font-size: 4rem;
  padding: 0 0 4.5rem 4.9rem;
}

.about h2 span {
  color: var(--primary);
}

.col-content .row-content-about {
  display: flex;
}

.col-content .row-content-about .col {
  border-right: 1px solid var(--w);
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.col-content .row-content-about .col::after {
  content: "";
  display: block;
  background-color: var(--primary);
  width: 16px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  right: -8px;
}

.col-content .row-content-about .col p {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #d5cea3;
  color: #363636;
  padding: 0.5rem 1.8rem;
  border-radius: 10px;
  box-shadow: -6px -6px 0px -3px rgba(182, 137, 91, 0.75);
  -webkit-box-shadow: -6px -6px 0px -3px rgba(182, 137, 91, 0.75);
  -moz-box-shadow: -6px -6px 0px -3px rgba(182, 137, 91, 0.75);
}

.row-content-about .col-desc-content {
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 4rem 4rem;
}

.row-content-about .col-desc-content img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.col-desc-content .desc-img h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.col-desc-content .desc-img p {
  width: 74%;
  font-weight: 200;
}

.menu {
  padding: 10rem 5% 1.4rem;
}

.menu h2 {
  text-align: center;
  font-size: 4rem;
}

.menu h2 span {
  color: var(--primary);
}

.menu .container-hto {
  display: flex;
  justify-content: center;
  margin: 3.5rem 0 8.5rem 0;
  width: 100%;
  padding: 0 2rem;
}

.menu .hto {
  border: 2px dashed var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 1.7rem 2rem;
  /* width: 70%; */
}

.menu .hto p {
  font-size: 2rem;
  border-right: 1px solid var(--w);
  padding-right: 2rem;
  font-weight: 200;
  /* flex: 50%; */
}

.menu .hto ul {
  display: flex;
}

.menu .hto ul li {
  margin-left: 3.5rem;
  font-size: 2rem;
}

.links-menu {
  display: flex;
  gap: 40px;
  padding-left: 4rem;
}

.links-menu .link-btn {
  width: 10rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 50px;
  text-align: center;
  border: 1px solid var(--primary);
  color: var(--primary);
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.links-menu .link-btn:hover {
  background: #b6895b86;
  /* background: var(--primary); */
  color: rgba(255, 255, 255, 0.795);
  transition: 0.3s;
}

.container-menu-content {
  padding: 2.2rem 4rem;
  margin: 2.8rem 0;
  border-radius: 30px;
  background-color: #080808;
}

.wraper-menu-content {
  /* display: none; */
}

.wraper-menu-content h3 {
  font-size: 2.5rem;
}

.wraper-menu-content .wraper-cards-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 2rem;
}

.wraper-cards-menu .card-menu {
  width: 30%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: #3c2a21;
  cursor: pointer;
}

.wraper-cards-menu .card-menu img {
  max-width: 40%;
  border-radius: 10px;
}

.card-menu .desc-img-menu {
  margin-left: 0.9rem;
  padding: 1rem 0 2px 0;
}

.card-menu .desc-img-menu .title-menu {
  font-size: 1.6rem;
  font-weight: 700;
}

.desc-img-menu .price-menu {
  font-size: 1.2rem;
  font-weight: 700;
}

.desc-img-menu .price-menu span {
  font-size: 1rem;
  font-weight: 200;
}

.desc-img-menu .desc-menu {
  font-size: 0.8rem;
}

.produk {
  padding: 10rem 7% 1.4rem;
  position: relative;
  margin-bottom: 7rem;
}

.produk .content-produk {
  margin-top: 2rem;
  display: none;
  animation: slide 0.7s;
}

@keyframes slide {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }

  60% {
    /* transform: skewX(-10deg); */
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.produk .content-produk img {
  max-width: 100%;
}

.content-produk .wraper-btn-resize {
  text-align: center;
  margin-top: 3rem;
}

.content-produk .btn-resize-produk {
  display: inline;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

.content-produk .btn-resize-produk:hover {
  color: var(--primary);
  transition: 0.3s;
}

.produk h2 {
  font-size: 2.6rem;
}

.produk .wraper-arrow {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  animation: arrowDown 0.5s infinite alternate;
  cursor: pointer;
}

@keyframes arrowDown {
  0% {
    top: 100%;
  }

  100% {
    top: 110%;
  }
}

.produk .arr-down {
  font-size: 50px;
}

.produk h2 span {
  color: var(--primary);
}

.wraper-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
}

.wraper-cards .card {
  background-color: rgb(140, 140, 140);
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card .wraper-shop {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.312);
  transform: scaleY(0);
  transition: 0.2s;
  transform-origin: top;
}

.card:hover .wraper-shop {
  transform: scaleY(1);
}

.card .wraper-shop .icon-hide {
  margin-right: 15px;
}

.card .desc-card {
  padding: 10px 7px;
}

.card .desc-card p {
  color: black;
  font-size: 1.3rem;
}

.card .desc-card .star {
  fill: yellow;
  margin-bottom: 0.5rem;
}

/* modal box */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  background-color: rgba(255, 255, 255, 0.116);
}

.modal .modal-content {
  width: 50%;
  margin: auto;
  padding: 1.2rem;
  background-color: #fefefe;
  color: black;
  border-radius: 10px;
  animation: showModal 0.5s;
}

@keyframes showModal {
  from {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.modal .modal-content .main-content-modal {
  display: flex;
  margin-top: 1rem;
}

.modal-content .main-content-modal img {
  width: 20rem;
  border-radius: 5px;
}

.main-content-modal .desc-modal {
  max-width: 50%;
  margin-left: 20px;
}

.desc-modal h3 {
  font-size: 2rem;
}

.desc-modal p {
  margin: 1rem 0;
}

.desc-modal button {
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--w);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.desc-modal button:hover {
  background-color: #d39455;
  transition: 0.3s;
}

.modal-content .close-modal {
  float: right;
  cursor: pointer;
  transition: 0.3s;
}

.modal-content .close-modal:hover {
  color: rgb(161, 38, 38);
  transition: 0.3s;
}

.contact {
  padding: 10rem 7% 1.4rem;
}

.contact .row {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}

.contact .row .map {
  flex: 50%;
  height: 450px;
}

.contact .row .form-input {
  flex: 50%;
  text-align: center;
}

.row .form-input .input-group {
  border: 1px solid var(--w);
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin: 1rem;
}

.form-input .input-group input {
  width: 90%;
  padding: 1rem 1.4rem;
  background: none;
  color: var(--w);
}

.contact .row .form-input button {
  margin: auto;
  padding: 0.7rem 2.7rem;
  font-size: 1.4rem;
  color: var(--w);
  background-color: var(--primary);
  cursor: pointer;
}

footer {
  height: 15rem;
  background-color: var(--primary);
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .social-media .icon {
  color: rgb(46, 35, 35);
  margin: 0 5px 0;
  cursor: pointer;
}

footer .nav-bottom {
  margin: 1rem 0;
}

footer .nav-bottom a {
  color: var(--w);
  margin: 0 10px;
}

footer .nav-bottom a:hover {
  color: rgb(46, 35, 35);
}

footer .credit p {
  color: rgb(46, 35, 35);
}

/* media query */

/* pc */
@media only screen and (min-width: 1367px) {
  html {
    font-size: 100%;
  }
}

/* leptop */
@media only screen and (min-width: 991px) and (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* tablet */
@media only screen and (max-width: 990px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--w);
    width: 30rem;
    height: 100vh;
    transition: 0.3s ease-in;
  }

  .navbar .navbar-nav.active {
    right: 0;
    transition: 0.3s ease-out;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 8px;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .container-content .content-about .about-img img {
    height: 400px;
  }

  .navbar .search-form {
    width: 70%;
    margin: auto;
  }

  .menu .hto p {
    font-size: 1.5rem;
    text-align: center;
  }

  .container-menu-content {
    border-radius: 30px 30px 0 0;
    padding: 2.2rem 2rem;
  }

  .wraper-menu-content .wraper-cards-menu {
    /* justify-content: space-around; */
    gap: 20px;
  }

  .wraper-cards-menu .card-menu {
    width: 45%;
  }

  .wraper-cards-menu .card-menu img {
    max-width: 35%;
  }

  .card-menu .desc-img-menu {
    padding: 0.7rem;
  }

  .modal .modal-content {
    width: 60%;
  }
}

/* handphone */
@media only screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }

  .hero .content {
    margin-bottom: 14rem;
  }

  .about {
    padding: 4.4rem 0 4rem;
  }

  .about h2 {
    font-size: 3rem;
    padding-left: 0;
    text-align: center;
  }

  .col-content .row-content-about .col::after {
    width: 7px;
    height: 50px;
    right: -4px;
  }

  .col-content .row-content-about .col p {
    font-size: 1.7rem;
  }

  .row-content-about .col-desc-content img {
    width: 30%;
  }

  .row-content-about .col-desc-content {
    padding: 1.5rem;
  }

  .col-desc-content .desc-img h3 {
    font-size: 1rem;
  }

  .col-desc-content .desc-img p {
    width: 100%;
    font-size: 0.7rem;
  }

  .menu {
    padding: 10rem 0 1.4rem;
  }

  .menu h2 {
    font-size: 3rem;
  }

  .menu .container-hto {
    padding: 0;
  }

  .menu .hto {
    padding: 1.2rem 1rem;
  }

  .menu .hto p {
    font-size: 1.4rem;
    text-align: center;
  }

  .menu .hto ul li {
    font-size: 1.7rem;
  }

  .links-menu {
    padding-left: 0;
    gap: 20px;
    justify-content: center;
  }

  .container-menu-content {
    border-radius: 30px 30px 0 0;
    padding: 2.2rem 2rem;
  }

  .wraper-menu-content .wraper-cards-menu {
    gap: 20px;
    /* justify-content: center; */
    /* padding-left: 2rem; */
  }

  .wraper-cards-menu .card-menu {
    width: 45%;
  }

  .wraper-cards-menu .card-menu img {
    max-width: 35%;
  }

  .card-menu .desc-img-menu {
    padding: 0.7rem;
  }

  .contact .row .map {
    height: 350px;
  }

  .contact .row {
    padding: 1rem;
  }

  .contact .row .form-input {
    margin-top: 20px;
  }

  .navbar .search-form {
    right: 13%;
  }

  .wraper-cards .card {
    width: 200px;
  }

  @keyframes slide {
    from {
      transform: translate3d(0, -2%, 0);
      opacity: 0;
    }

    60% {
      /* transform: skewX(-10deg); */
      opacity: 1;
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .modal .modal-content .main-content-modal {
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
  }

  .main-content-modal .desc-modal {
    padding: 10px;
    max-width: 100%;
    margin: 10px 0 0 0;
  }

  .desc-modal h3 {
    text-align: center;
  }

  .desc-modal button {
    padding: 1rem 1.5rem;
  }
}
